dist/*
*.egg-info/
selenium_driver_updater/__pycache__/*.pyc
selenium_driver_updater/test/__pycache__/*.pyc
.DS_Store
selenium_driver_updater/*.log
selenium_driver_updater/util/__pycache__/*.pyc
*.log
selenium_driver_updater/browsers/__pycache__/*.pyc
build/*
